AWS_ACCESS_KEY_ID=your_railway_bucket_access_key
AWS_SECRET_ACCESS_KEY=your_railway_bucket_secret_key
AWS_ENDPOINT_URL_S3=your_railway_bucket_s3_endpoint
AWS_REGION=auto
BUCKET_NAME=your_bucket_name
ADMIN_PASSWORD=your_admin_password
PORT=3000
